<h2 class="page-header">Video hinzufügen</h2>
{{#if errors}}
    {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
    {{/each}}
{{/if}}
<form method="post" action="/videos/upload">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Name des Videos" name="videoname">
    </div>
    <div class="form-group">
        <input type="url" class="form-control" placeholder="Dropbox URL e.g. https://dl.dropbox.com/s/36q37ksxywq2qat/blyat4.mp4" name="videourl">
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="videourl" value=""> Video enthält Alphakanal</label>
    </div>
    <button type="submit" class="btn btn-default">Bestätigen</button>
</form>
